@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
  margin: 0 0;
  padding: 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: white;
}

h1{
  font-family: 'Bebas Neue', cursive;
  font-size: 80px;
  font-weight: bold;
}

h2{
  font-family: 'Bebas Neue', cursive;
  font-size: 36px;
  font-weight: bold;
}

h3{
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  font-weight: bold;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

.button{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

nav{
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.bg-1{
  background-image: url('../img/bg1.png');
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: static;
  background-size: cover;
}

.bg-2{
  background-image: url('../img/bg2.png');
  background-repeat: no-repeat;
  background-attachment: static;
  background-size: cover;
}

.bg-3{
  background-image: url('../img/bg3.png');
  background-repeat: no-repeat;
  background-attachment: static;
  background-size: cover;
}

.bg-4{
  background-image: url('../img/bg4.png');
  background-repeat: no-repeat;
  background-attachment: static;
  background-size: cover;
}

.bg-5{
  background-image: url('../img/bg5.png');
  background-repeat: no-repeat;
  background-attachment: static;
  background-size: cover;
}

.container{
  width: 1441.55px;
  margin: 0 0;
  padding: 0 0;
  display: grid;
  grid-template-columns: 1441.55px;
  grid-template-rows: repeat(6, 960.14px);
  grid-template-areas: 
    "main"
    "about"
    "features"
    "requirements"
    "quotes"
    "subscribe";
}

.main{
  grid-area: main;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1{
  padding-top: 20%;
}

.about{
  grid-area: about;
}

.features{
  grid-area: features;
}

.requirements{
grid-area: requirements;
}

.quotes{
grid-area: quotes;
}

.subscribe{
  grid-area: subscribe;
  background-color: black;
}